# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.egg-info
.venv/
env/
venv/

# Node
node_modules/
.next/
out/
dist/
*.log

# Rasa
models/
results/
logs/

# OS files
.DS_Store
Thumbs.db

# Alembic
migrations/versions/*.pyc